.nav-bg {
  background-color: rgba(10,25,47,1) !important;
  color: rgb(220,220,220);
}

body{
  background-color: rgba(10,25,47,1) !important;
  color: rgba(220,220,220,0.8);
}

.top-container {
  max-width: 1000px;
  padding: 100px 0 100px 0;
  text-align: center;
}

.middle-container, .bottom-container {
  max-width: 1000px;
}

.nav-icon {
  display: block;
  margin: auto;
}

.nav-text{
  color: rgba(220,220,220,0.8);
  font-size: 150%;
}

.nav-hover:hover{
  color: #00adb5;
}

.body-text-light{
  color: rgba(220,220,220,0.8);
  font-size: 150%;
}

.social-icon {
  margin: auto;
}

ul {
  list-style: none;
}

/*styling the social media hover features*/
.social-media-a {
  color: rgba(10,25,47,0.95);
}
.social-media-a:hover {
  color: #00adb5;
}

.header-icon-bg {
  color: #00adb5;
}

.title-square {
  color: #00adb5;
}

.resume, .portfolio, .contact-me, .skills {
  padding: 110px 20px 0 20px;
}

.indent-text {
  padding: 0 0 0 0;
}

h2 {
  padding: 0 0 40px 0;
  font-size: 180%;
  font-weight: bold;
}

.contact-field {
  margin: 0 0 10px 0;
  background-color: #222831;
  color: #585858;

}
.contact-field:focus {
  background-color: #222831;
  border: 1px solid #00adb5;
  color: white;
}
